<div class="row">
  <div class="span4">
    <%= f.input :name %>
    <%= f.input :category, as: 'select', collection: Task::CATEGORIES %>
    <%= f.input :value, label: "Point Value" %>
    <%= f.input :description, input_html: {rows: 5} %>
  </div>
  <div class="span4">
    <%= f.input :starts_on, as: 'date_picker', label: "Start Date" %>
    <%= f.input :ends_on, as: 'date_picker', label: "End Date" %>
    <%= f.input :pyramid, wrapper: :checkbox, as: :boolean, label: "Pyramid Task?" %>
    <p class="help-block">Increases by 10 points each completion</p>
    <%= f.input :milestone, wrapper: :checkbox, as: :boolean, label: "Milestone Task?" %>
    <%= f.input :bonus, label: "Milestone Bonus Points" %>
    <%= f.input :icon, label: "Icon Image", as: :file %>
    <%= image_tag(@task.icon.url) if @task && @task.icon? %>
  </div>
  <div class="span4">
    <%= f.input :solution, hint: "The correct answer for this task's form-based task completion.", input_html: {rows: 5} %>
    <%= f.input :feedback, hint: "A message to be displayed at task completion.", input_html: {rows: 5} %>
  </div>
</div>
