<h1 class="page-header">Credits</h1>

<div class="row">
  <div class="span8">
    
    <h2>Game Development</h2>
    <ul class="credits">
      <li>Ben Ward</li>
      <li>Joelle Pitts</li>
      <li>Daniel Ireton</li>
    </ul>
    
    <h2>Website Development</h2>
    <ul class="credits">
      <li>Robert	Willard</li>
      <li>Nicholas	Strub</li>
      <li>Matt	Janssen</li>
      <li>Nathan Bean</li>
    </ul>
    
    <h3>Website Prototypes</h2>
    <ul class="credits">
      <li>Nikhita Addanki</li>
      <li>Kaushik Atchuta</li>
      <li>Jesse Bailey</li>
      <li>Ankit Bajpai</li>
      <li>Andrew Bellinder</li>
      <li>Jan Bitter</li>
      <li>Nicholas Boen</li>
      <li>Swapna Bojanki</li>
      <li>Matthew Brown</li>
      <li>Brian Cain</li>
      <li>Brendan Carney</li>
      <li>Adam Clark</li>
      <li>Kevin Dean</li>
      <li>Nathan Duerksen</li>
      <li>Brian Dye</li>
      <li>Chase Farrant</li>
      <li>Russell Feldhausen</li>
      <li>Yang Gao</li>
      <li>Dustin Hammett</li>
      <li>Scott Howard</li>
      <li>Gabriel Hughes</li>
      <li>Anirudh Jagithyala</li>
      <li>Matt Janssen</li>
      <li>Dayou Jiang</li>
      <li>Devin Kelly-Collins</li>
      <li>Hemala Prabhakar Konganda</li>
      <li>James Lastrapes</li>
      <li>Peter Machutta</li>
      <li>Priyanka Masuram</li>
      <li>Alexander Munda</li>
      <li>Ashish Pinninti</li>
      <li>Mengyuan Ren</li>
      <li>Tejitha Rudraraju</li>
      <li>Carlos Salazar</li>
      <li>Shagun Sharma</li>
      <li>Nicholas Strub</li>
      <li>Anirudh Tadakamala</li>
      <li>Peng Tan</li>
      <li>Ryan Troxler</li>
      <li>Tanmay Varma</li>
      <li>Robert Willard</li>
      <li>Keith Wyss</li>
      <li>Abdulrasheed Yahaya</li>
      <li>Heath Yates</li>
      <li>Yusa Ying</li>
      <li>Joshua Zavala</li>
    </ul>

    <h2>Other Contributions</h2>
    <ul>
      <li>
        <%= link_to 'Press Start 2P Font', 'https://www.google.com/fonts/specimen/Press+Start+2P' %> 
        by Cody "CodeMan38" Boisclair, released under 
        <%= link_to 'SIL Open Font License, 1.1', 'http://scripts.sil.org/OFL' %>
      </li>
    </ul>

    <h2>Source Code</h2>
    <p>
      Source code for the scoreboard application is available at 
      <%= link_to 'http://github/zombiepaladin/scoreboard', 'http://github/zombiepaladin/scoreboard' %>, 
      released under the 
      <%= link_to 'MIT License', 'https://github.com/zombiepaladin/scoreboard/blob/master/LICENSE' %>
    </p>
    
  </div>

  <div class="span4 logos">
    <%= link_to image_tag("k-state-first-logo.jpg"), "http://www.k-state.edu/first/" %>
    <%= link_to image_tag("k-state-libraries-logo.jpg"), "http://www.lib.k-state.edu/" %>
    <%= link_to image_tag("itac-logo.jpg"), "http://www.k-state.edu/itac/" %>
    <%= link_to image_tag("cis-logo-purple.png"), "http://cis.k-state.edu/" %>
  </div>

</row>
