<!DOCTYPE html>
<html>
<head>
  <title>Scoreboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.5">
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Play' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Scoreboard</a>
      <div class="container">  

        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="nav-collapse collapse">

          <ul class="nav pull-left">
            <li><%= link_to "Leaderboards", boards_path %></li>
            <li><%= link_to "Tutorial", tutorial_path %></li>
            <li><%= link_to "Challenges", tasks_path %></li>
            <li><%= link_to "Rules", rules_path %></li>
            <li><%= link_to "Credits", credits_path %></li>
          </ul>

          <ul class="nav pull-right">
            <% if signed_in? %>
              <li>
                <%= link_to current_user.name, user_path(current_user) %>
              </li>
              <% if current_user.admin? %>
                <li><%= link_to "Enter Admin Mode", admin_tasks_path %></li>
              <% end %>
              <li>
                <a href="/sign_out">Sign Out</a> 
              </li>
            <% else %>
              <li><%= link_to "Sign In", "/auth/cas" %></li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <%= render "layouts/flashes" %>
    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
